# Flutter/Dart/Pub related
# workspace/.metadata
# workspace/.dart_tool/
# workspace/.flutter-plugins
# workspace/.flutter-plugins-dependencies
workspace/.env
workspace/build
workspace/.flutter-plugins
workspace/.flutter-plugins-dependencies

# Android related // commenting out some of these so that appcenter will build https://github.com/flutter/flutter/issues/17197
# **/android/**/gradle-wrapper.jar
workspace/android/.gradle
workspace/android/captures/
# workspace/android/gradlew
# workspace/android/gradlew.bat
workspace/android/**/GeneratedPluginRegistrant.java
workspace/android/keystore.properties
workspace/android/.properties
workspace/.dart_tool
workspace/android/.gradle
workspace/android/.idea
workspace/android/build
workspace/android/local.properties
workspace/build


workspace/ios
workspace/macos
workspace/linux
workspace/windows
workspace/web
